﻿<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tu Título</title>

    <!-- Enlace a la fuente de Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />

    <!-- Enlace a la biblioteca jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Enlace a tu hoja de estilos CSS utilizando la ayuda de ASP.NET -->
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>



<a href="#fake" class="enter">ENTER</a>
<div class="page">
  <div class="main">



    <!--  Content of page -->
    <header class="clearfix">
      <div class='container'>
        <div class="intro">
          <a href="/grid"><h1>WELCOME azsmart</h1></a>
          <p>Escuchanos</p>
        </div>
      </div>
    </header>


    <section class="words">
      <div class="container">
        <h3>Introducción</h3>

        <p>AZ SMART TECHNOLOGY, es una empresa de ingeniería en desarrollo de software y hardware que ofrece sus servicios empresariales en gestión de seguridad para el sector productivo.</p>
      </section>

      <section  class="clearfix"></section>

      <section class="words">
        <div class="container">
          <h3>AZ SMART TECHNOLOGY</h3>

          <p>dispone de una amplia gama de productos y servicios orientados hacia el mejoramiento tecnológico mediante aplicaciones y desarrollos que garantizan un adecuado control y monitoreo electrónico de bienes y actividades productivas.</a> </p>

          <h2>CONFIABILIDAD EN LA INFORMACION</h2>

          <p>Este sistema asegura la integridad de los datos transmitidos desde dispositivos móviles al validar cada transmisión. Además, proporciona acceso a informes históricos detallados de todos los dispositivos móviles desde su inicio en operación. Facilita la identificación ágil de fallas en la operación de los dispositivos móviles y garantiza la continuidad operativa mediante canales de comunicación redundantes y una infraestructura preparada para mantener las operaciones en casos de catástrofe.</p>


        </section>    

        <section  class="clearfix"></section>

        <section class="words">
          <div class="container">
            <h2>SEGURIDAD</h2>
            <p>Este sistema proporciona la capacidad de asignar diferentes niveles de acceso a los usuarios a través de perfiles, lo que les permite realizar funciones específicas de acuerdo con su rol. Además, permite restringir el acceso de los usuarios a ubicaciones designadas, brindando un mayor control sobre la seguridad y privacidad de la información. Asimismo, registra todas las acciones realizadas por los usuarios, lo que permite monitorear en tiempo real y revisar posteriormente la actividad de cada usuario.</p>

            <p>La información viaja de manera encriptada a través de canales privados de la red celular empleando APN privado.</p>

          </div>
        </section>
        <!-- / Content of page -->


      </div>
    </div>